.weather-container {
  background-image: url('../images/earth.png');
  background-repeat: no-repeat;
  height: 600px;
  width: 600px;
}

.weather-capital {
  background-color: #1e1e1e91;
  color: whitesmoke;
  height: 20px;
  padding: 8px;
  width: fit-content;
}

.current-weather {
  background-color: whitesmoke;
  color: #1e1e1e;
  width: fit-content;
}

.weather-capital-container {
  display: flex;
}

#brasilia {
  left: 41.5%;
  position: absolute;
  top: 58%;
}
#london {
  left: 50.5%;
  position: absolute;
  top: 29%;
}

#washington {
  left: 36%;
  position: absolute;
  top: 37%;
}

#joanesburgo {
  left: 54%;
  position: absolute;
  top: 63.3%;
}

.weather-icon {
  padding: 0 2px;
  width: 32px;
}

@media only screen and (min-width: 1440px) {
  #brasilia {
    left: 43%;
    position: absolute;
    top: 58%;
  }
  #london {
    left: 50.5%;
    position: absolute;
    top: 30%;
  }
  
  #washington {
    left: 35%;
    position: absolute;
    top: 37%;
  }
  
  #joanesburgo {
    left: 53.5%;
    position: absolute;
    top: 62%;
  }
}

@media only screen and (min-width: 1600px) {
  #brasilia {
    left: 44%;
    position: absolute;
    top: 56%;
  }
  #london {
    left: 50.5%;
    position: absolute;
    top: 36%;
  }
  
  #washington {
    left: 39%;
    position: absolute;
    top: 41%;
  }
  
  #joanesburgo {
    left: 53%;
    position: absolute;
    top: 59%;
  }
}
