* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #023844;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
}